@import "tailwindcss";

@theme {
  --color-primary-1: #000000;
  --color-primary-2: #ffe8b4;
  --color-primary-3: #f11b13;
  --color-primary-4: #fa1c14;
  --color-primary-5: #ad130e;
  --color-primary-6: #860700;

  --color-neutral-0: #fff;
  --color-neutral-1: #1d1d1d;

  --radius-xl: 0.625rem;

  --shadow-custom-1: 0px 0px 10px 2px rgba(134, 7, 0, 0.6);
  --shadow-custom-2: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}
