@import "tailwindcss";

@theme {
  --color-primary-1: #fff9ea;
  --color-primary-2: #ffe8b4;
  --color-primary-3: #f8d477;
  --color-primary-4: #ffe100;
  --color-primary-5: #ffcb45;
  --color-primary-6: #e9a209;

  --color-neutral-0: #fff;
  --color-neutral-1: #1d1d1d;

  --radius-xl: 0.625rem;

  --shadow-custom: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}
